<div>
    {% if add_btn %}
    <div style="margin: 5px 0;">
        {{ add_btn }}
    </div>
    {% endif %}
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for item in header_list %}
                <th>{{ item }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row_list in data %}
            <tr>
                {% for col in row_list %}
                    <td>{{ col }}</td>
                {% endfor %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for item in page_html %}
    {{ item|safe }}
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
        {{ page_obj.page_html|safe }}
        </ul>
    </nav>
</div>